$headerBgColor : #f44336;
$white : #ffffff;
$yellow : #fad400;
$lightYellow:#facb03;
$lightPink : #ffcdd2;
$ultraLightGrey :#e6e6e6;
$lightGrey : #b6b6b6;
$darkBlue : #2b2e81;
$darkGrey :#333333;
$black : #000000;
